@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?h2v172') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?h2v172') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?h2v172##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\ea0a";
}

.icon-docker:before {
  content: "\e659";
}

.icon-list-flat:before {
  content: "\e643";
}

.icon-warning:before {
  content: "\e63a";
}

.icon-folder:before {
  content: "\e6c9";
}

.icon-checkmark:before {
  content: "\e604";
}

.icon-file:before {
  content: "\e729";
}

.icon-minus:before {
  content: "\e600";
}

.icon-close:before {
  content: "\eb1f";
}

.icon-x:before {
  content: "\e6a4";
}

.icon-plus:before {
  content: "\e6cb";
}

.icon-info:before {
  content: "\e60d";
}

.icon-circle-plus:before {
  content: "\e641";
}

.icon-copy:before {
  content: "\e706";
}

.icon-sort-down:before {
  content: "\e671";
}

.icon-sort-up:before {
  content: "\e674";
}

.icon-error:before {
  content: "\e637";
}

.icon-actions:before {
  content: "\e7ce";
}

.icon-trash:before {
  content: "\e864";
}

.icon-dot:before {
  content: "\e62f";
}

.icon-upload:before {
  content: "\e8d8";
}

.icon-download:before {
  content: "\e62b";
}

.icon-gear:before {
  content: "\e68b";
}

.icon-dot-half:before {
  content: "\e63b";
}

.icon-dot-open:before {
  content: "\e612";
}

.icon-chevron-beginning:before {
  content: "\e751";
}

.icon-play:before {
  content: "\f07e";
}

.icon-chevron-left:before {
  content: "\e647";
}

.icon-spinner:before {
  content: "\e918";
}

.icon-terminal:before {
  content: "\e921";
}

.icon-star:before {
  content: "\edf9";
}

.icon-chevron-down:before {
  content: "\e6a8";
}

.icon-chevron-up:before {
  content: "\e6a9";
}

.icon-user:before {
  content: "\e609";
}

.icon-sort:before {
  content: "\e71c";
}

.icon-globe:before {
  content: "\e630";
}

.icon-search:before {
  content: "\e621";
}

.icon-pause:before {
  content: "\e601";
}

.icon-list-grouped:before {
  content: "\e63c";
}

.icon-chevron_right:before {
  content: "\e93f";
}

.icon-chevron-end:before {
  content: "\e654";
}

.icon-star-open:before {
  content: "\e60a";
}

.icon-edit:before {
  content: "\e602";
}

.icon-external-link:before {
  content: "\e667";
}

.icon-delete:before {
  content: "\f07f";
}

.icon-earth:before {
  content: "\e629";
}

.icon-position:before {
  content: "\e618";
}

.icon-system:before {
  content: "\e61a";
}

.icon-source:before {
  content: "\e61b";
}

.icon-set:before {
  content: "\e61c";
}

.icon-dashboad-workload:before {
  content: "\e61d";
}

.icon-workload:before {
  content: "\e608";
}

.icon-iot-management:before {
  content: "\e60b";
}

.icon-edge-ai:before {
  content: "\e60e";
}

.icon-mqtt:before {
  content: "\e613";
}

.icon-setting:before {
  content: "\e616";
}

.icon-global-resource:before {
  content: "\e603";
}

.icon-infrastructure:before {
  content: "\e607";
}

